
.card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  background-color: #f8f8f82e;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 150px;
  border-radius: 4px;
}

.card h2 {
  margin: 0.5rem 0 0.2rem;
}

.card h4 {
  margin: 0;
  font-style: italic;
}

.card p {
  font-size: 0.95rem;
}